<div class="row">
  
  <div class="col-10 offset-1 col-sm-6 offset-sm-3 border">
    
    <div class="mt-3 mb-3 text-center">
      <img class="rounded-circle" src="<%= gravatar_url(@user, { size: 75 }) %>" alt="">
    </div>
    
    <h4><%= @user.name %></h4>
  

    
    <div class="mb-3">
      <%= @user.profile %>
    </div>
  </div>
  
</div>